<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="marksheet1" class="com.springcore.ci.Marksheet">
	<constructor-arg value="01" />
	<constructor-arg value="Mritunjay kumar tiwari" />
	<constructor-arg>
	<list>
		<value>60</value>
		<value>70</value>
		<value>80</value>
		<value>90</value>
		<value>98</value>
		
	</list>
	</constructor-arg>
	</bean>

	<bean id="student1" class="com.springcore.ci.Student">
	<constructor-arg value="01" ></constructor-arg>
	<constructor-arg value="Mritunjay" ></constructor-arg>
	<constructor-arg value="Arrah" ></constructor-arg>
	<constructor-arg ref="marksheet1" />
	</bean>
		

</beans>